language: java
#services: mongodb
matrix:
  include:
    - jdk: openjdk8
    - jdk: oraclejdk8
    - jdk: openjdk11
    - os: osx
      osx_image: xcode9.2
      env: JAVA_HOME=$(/usr/libexec/java_home)
